asgiref
backports.entry-points-selectable
distlib
dj-database-url
Django
django-binary-database-files
django-heroku
eval
filelock
gunicorn
numpy
opencv-python
Pillow
platformdirs
psycopg2
python-decouple
pytz
six
sqlparse
virtualenv
whitenoise